.user-status {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: gray;
}

.user-status.active {
    background-color: green;
}

.user-create-update-form .modal-footer {
    margin: 0 -1rem;
}